<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="description" content="Board game list">
		<meta name="viewport" content="width=device-width, initial-scale: 1.0">
		<title>Happy Board Game Company</title>

		<link href="http://fonts.googleapis.com/css?family=Cookie|Open+Sans:400,700" rel="stylesheet" />
		<link href="style.css" rel="stylesheet" />
	</head>

	<body ng-app="toySearch" ng-controller="toySearchController">

	<div class="bar">
	<!-- Create a binding between the searchTerm model and the text field -->
	<input type="text" ng-model="searchTerm" placeholder="Type your search term" />
	</div>

	<ul>

		<li ng-repeat="i in items | searchFor:searchTerm">
		<!--<li ng-repeat="i in items">-->
			<img ng-src="{{i.Image}}" />
			<p class="title"><a href="#" ng-click="showMe = !showMe">{{i.Title}}</a></p>
			<p class="price"><strong>Price</strong>: {{i.Price | currency}}</p>
			<p class="desc" ng-show="showMe">{{i.Description}}</p>

		</li>
	</ul>


	<!-- Include AngularJS from Google's CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
	<script src="script.js"></script>

	</body>
</html>
